/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Variables CSS*/
:root {
    --header-height: 3rem;

    /*Colours*/
    --hue-color: 151;

    /*HSL Colour mode*/
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;

    /*Font*/
    --body-font: 'Montserrat', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margin Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    /*HSL Colour mode*/
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(151, 10%, 20%);
    --container-color: hsl(151, 25%, 20%);
}

/*========== Button Dark/Light ==========*/
.nav_btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}

/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);

}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 2rem 0 4rem;
}

.section_title{
    font-size: var(--h1-font-size);
}

.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title, .section_subtitle{
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container{
    max-width:768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height); /* cuts off Resume and Contact on web...*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo, .nav_tog{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_logo:hover{
    color: var(--first-color);
}

.nav_tog{
    font-size:1.1rem;
    cursor:pointer;
}

.nav_tog:hover{
    color:var(--first-color);
}

@media screen and (max-width: 767px){
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav_list{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--first-color-alt);
    font-weight: var(--font-medium);
}

.nav_link:hover{
    color: var(--title-color);
}

.nav_icon{
    font-size: 1.2rem;
}

.nav_close{
    position:absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: --first-color;
}

.nav_close:hover{
    color: var(--first-color-alt);
}

/* show menu */
.show-menu{
    bottom: 0;
}

/*==================== HOME ====================*/
.home_container{
    gap: 1rem;
    justify-self: center;
}

.home_content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home_social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home_social-icon:hover{
    color: var(--first-color-alt);
}

.home_data{
    grid-column: 1/3;
}

.home_title{
    font-size:var(--big-font-size);
    align-items: center;
}

.home_subtitle{
    font-size:var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home_scroll{
    display: none;
}

.home_scroll-button{
    color: var(--first-color);
    transition: .3s;
}

.home_scroll-button:hover{
    transform: translateY(.25rem);
}

.home_scroll-mouse{
    font-size: 2rem;
}

.home_scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home_scroll-arrow{
    font-size: 1.25rem;
}
/*==================== BUTTONS ====================*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button_icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.button--small{
    padding: .75rem 1rem;
}

.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}

/*==================== ABOUT ====================*/
.about_description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

/*==================== SKILLS ====================*/
.skills_container{
    row-gap: 0;
}

.skills_header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills_icon, .skills_arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.skills_icon{
    margin-right: var(--mb-0-75);
}

.skills_title{
    font-size: var(--h3-font-size);
}

.skills_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills_arrow{
    margin-left: auto;
    transition: .4s;
}

.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills_bar, .skills_percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills_bar{
    background-color: var(--first-color);
}

.skills_close .skills_list{
    height: 0;
    overflow: hidden;
}

.skills_open .skills_list{
    height: max-content;
    margin-bottom: var(--mb-2-5);

}

.skills_open .skills_arrow{
    transform: rotate(-180deg)
}
/*==================== QUALIFICATION ====================*/
.qualification_tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification_button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification_button:hover{
    color: var(--first-color);
}

.qualification_icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

/*
.qualification_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
*/
.qualification_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification_subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification_calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification_calendar{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.qualification_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification_line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content]{
    display: none;
}

.qualification_active[data-content]{
    display: block;
}

.qualification_button.qualification_active{
    color: var(--first-color);
}
/*==================== SERVICES ====================*/
.projects_container{
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.projects_content{
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
}

.projects_content:hover{
    box-shadow: 0 4px 8px rgba(0,0,0.15);
}

.projects_icon{
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.projects_title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.projects_button{
    cursor: pointer;
    font-size: var(--small-font-size);
}

.projects_button:hover .button_icon{
    transform: translateX(.25rem);
}

.projects_modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.projects_modal-content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
}

.projects_modal-projects{
    row-gap: 1rem;
}

.projects_modal-projects{
    display: flex;
}

.projects_modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.projects_modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.projects_modal-icon{
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}
/* Active Modal */
.active-modal{
    opacity: 1;
    visibility: visible;
}

/*==================== CONTACT ME ====================*/
.contact_container{
    row-gap: 3rem;
}

.contact_information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact_icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact_content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact_label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact_input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav_menu{
        padding: 2rem .25rem 4rem;
    }

    .nav_list{
        column-gap: 0;
    }

    .home_content{
        grid-template-columns: .25fr 3fr;
    }

    .home_blob{
        width: 180px;
    }

    .skills_title{
        font-size: var(--normal-font-size);
    }

    qualification_data{
        gap: .5rem;
    }

    .projects_container{
        grid-template-columns: max-content;
        justify-content: center;
    }

    .projects_content{
        padding-right: 3.5rem;
    }

    .projects_modal{
        padding: 0 .5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 568px){

    .home_data{
        justify-content: center;
    }
    .contact_container{
        grid-template-columns: repeat(2, 1fr);
    }

    .qualification_sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }

    .section_subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main{
        padding: 0 1rem
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav_icon,
    .nav_close,
    .nav_tog{
        display: none;
    }

    .nav_list{
        display: flex;
        column-gap: 2rem;
    }

    .nav_menu{
        margin-left: auto;
    }

    .change-theme{
        margin: 0;
    }

    .home_container{
        row-gap: 5rem;
    }

    .home_content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .about_container{
        column-gap: 5rem;
    }

    .about_description{
        text-align: initial;
    }

    .about_info{
        justify-content: space-between;
    }

    .about_buttons{
        justify-content: initial;
    }

    .qualification_tabs{
        justify-content: center;
    }

    .qualification_button{
        margin: 0 var(--mb-1);
    }

    .qualification_sections{
        grid-template-columns: .5fr;
    }

    .projects_container{
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }

    .projects_icon{
        font-size: 2rem;
    }

    .projects_content{
        padding: 6rem 0 2rem 2.5rem;
    }

    .projects_modal-content{
        width: 450px;
    }
}

/* For large devices */
@media screen and (min-width: 1024px){
    .header,
    .main{
        padding: 0;
    }

    .projects_container{
        grid-template-columns: repeat(3, 238px);
    }
}